<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
    <link rel="stylesheet" href="../../static/css/me.css" >
</head>
<body>

<nav th:replace="_fragments :: menu(0)" class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide">首頁</a>
            <a href="#" class="m-item item m-mobile-hide">分類</a>
            <a href="#" class="m-item item m-mobile-hide">標籤</a>
            <a href="#" class="m-item item m-mobile-hide">歸檔</a>
            <a href="#" class="m-item item m-mobile-hide">關於我</a>
            <div class="right m-item item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>

</nav>
<br>
<br>
<br>
<br>
<br>
<br>

    <div class="m-container-small m-padded-tb-large">
        <div class="ui error message m-padded-tb-huge">
            <div class="container">
                <h2>404</h2>
                <p>您訪問的網頁不存在！</p>
            </div>
        </div>
    </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-bot-footer">
    <div class="ui center aligned container">
        <div class="ui inverted section divider "></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2018 by Peter</p>
    </div>
</footer>

</body>
</html>