<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500</title>
</head>
<body>
<nav th:replace="_fragments :: menu(0)" class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide">首頁</a>
            <a href="#" class="m-item item m-mobile-hide">分類</a>
            <a href="#" class="m-item item m-mobile-hide">標籤</a>
            <a href="#" class="m-item item m-mobile-hide">歸檔</a>
            <a href="#" class="m-item item m-mobile-hide">關於我</a>
            <div class="right m-item item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
    <h1>500</h1>
</body>
</html>