<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>網誌</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
    <link rel="stylesheet" href="../static/css/me.css" >
</head>
<body>

<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
    <div class="ui inverted secondary stackable menu">
        <h2 class="ui blue header item">Blog</h2>
        <a href="#" class="m-item item m-mobile-hide">首頁</a>
        <a href="#" class="m-item item m-mobile-hide">分類</a>
        <a href="#" class="active m-item item m-mobile-hide">標籤</a>
        <a href="#" class="m-item item m-mobile-hide">歸檔</a>
        <a href="#" class="m-item item m-mobile-hide">關於我</a>
        <div class="right m-item item">
            <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
    </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>

</nav>
<!--中間內容-->
<div class="m-padded-tb-big m-container-small">
    <div class="ui container">
        <!---header---->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui blue header">搜索結果</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}"> 14 </h2>篇
                </div>
            </div>
        </div>

        <!--blog顯示-->
        <div class="ui top attached  segment">
            <div class="ui padded vertical m-padded-tb-large segment" th:each="blog : ${page.content}">
                <div class="ui middle aligned stackable grid" >
                    <div class="eleven wide column">
                        <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}"  target="_blank" class="m-black" th:text="${blog.title}">這是標題</a></h3>
                        <p th:text="|${blog.description}.......|">這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容這是內容</p>
                        <div class="ui grid">
                            <div class="eleven wide column">
                                <div class="ui horizontal link list">
                                    <div class="item">
                                        <img src="" th:src="@{${blog.user.avatar}}" class="ui avatar image" alt="">
                                        <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">作者</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2018-01-22</span>
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> <span th:text="${blog.views}">1000</span>
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui blue basic label m-padded-tiny m-text-thin" th:text="${blog.type.name}">分類類型</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}"  target="_blank">
                            <img src="https://picsum.photos/800/400" th:src="@{${blog.fisrtPicture}}" class="ui rounded image">
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a href="#" class="ui button" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}">上一頁</a>
                </div>
                <div class="right aligned column">
                    <a href="#" class="ui button" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}">下一頁</a>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-bot-footer">
    <div class="ui center aligned container">
    <div class="ui inverted section divider "></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2018 by Peter</p>



    </div>
</footer>
<!-- Footer -->

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    // $('.menu.toggle').click(function () {
    //     $('.m-item').toggleClass('m-mobile-hide');
    // });
    $('.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>

</body>
</html>